fastapi
uvicorn[standard]
pydantic
streamlit
openai
python-dotenv
streamlit-option-menu
google-genai
supabase
sqlalchemy
fpdf2
openpyxl
pandas
PyPDF2
altair
postgrest
gotrue
realtime
pdfplumber
requests
sentence-transformers
black
flake8